/* paleta de colores */

:root{
    --black:#000000;
    --background: #0f0e17;
    --primary: #FED941;
    --grey:#A7A9BE;
    --white:#FFFFFE;
}

*{
    padding: 2px;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color:var(--background);
}

.linkslider{
    text-decoration: none;
    color: var(--primary);
}

/* Navbar styles */
.navbar{
    padding-left: 3rem ;
    padding-right: 3rem;
}

.img-nav{
    width: 107px;
    height: 64px;
}
.btnNav{
    background-color: var(--primary) !important;
    color: var(--black);
}

.white{
    color: var(--white) !important;
    font-weight: bold;
}

.white:focus{
    color: var(--primary) !important;
    border-bottom: 1px solid var(--primary);
}

/* slider styles */
.caption{
    width: 100%;
   
}

.sliderContainer{
    width: 100% ;
    height: 410px;   
}

.sliderContainer img{
    border-radius: 10px;
}

.btnSldrContainer{
    display: flex;    
    width: 100% ;
    gap: 30px;
    left: 1.96%;
    right: 62.71%;
    top: 74.19%;
    bottom: 10.32%;
    position: absolute;
}

.btnSlider1{
    background: var(--primary);
    color: var(--black);
    font-weight: bold;
    width: 195px;
    height: 48px;
    border: var(--primary);
    border-radius: 5px;
    padding: 10px 24px 10px 24px;
    left: 0%;
    right: 54.01%;
    top: 0%;
    bottom: 0%;
   
}

.btnSlider1:hover{
    background: var(--black);
    color: var(--primary);
    border: 1 px solid var(--primary);
}

.btnSlider2{
    background: var(--black);
    color: var(--primary);
    font-weight: bold;
    width: 195px;
    height: 48px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 10px 24px 10px 24px;
    
}

.btnSlider2:hover{
    background: var(--primary)!important;
    color: var(--black);
    border:(--primary) !important;
}


.carousel-control-next,
.carousel-control-prev,
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators{
    display: none;
}


/* formulario login */

.formContainer{
    background-image: url('https://res.cloudinary.com/dfp8qduho/image/upload/v1645324785/block-master/g13tpay003of01hoywrr.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;   
}

.formregisPeli{
    display: flex;
    align-items: center;
    justify-content: center;
}


.btnLgn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;    
}

.btnlgn1{
    background: var(--primary);
    color: var(--black);
    font-weight: bold;
    width: 195px;
    height: 48px;
    border: var(--primary);
    border-radius: 5px;
    padding: 10px 24px 10px 24px;
}

.btnlgn1:hover{
    background: var(--black) !important;
    border: 1px solid var(--primary);
}

.btnggl{
    background: var(--black);
    color: var(--primary);
    font-weight: bold;
    width: 195px;
    height: 48px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 10px 24px 10px 24px;
}


.btnggl:hover{
    background: var(--primary) !important;
    border: 1px solid var(--black);
}

.labelWords{
    color: var(--white);
    font-weight: bold;
}

.darkWords{
    color: var(--black);
    font-weight: bold;
}

/* cards-styles */
.cardLogin{
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

.cardLogin:hover{
    border: 3px solid #FED941;
    border-radius: 10px;
}

.card-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    padding: 5px;
}

.card{
    width: 320px;
    height: 440px;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

.card:hover{
    border: 1px solid var(--primary);
}

.card-img{
    width: 100%;
    height: 100%;
    
    border-radius: 15px;
}


.pagContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btnpg{
    background: var(--background) !important;
    border: 1px solid var(--primary);
    border-radius: 10px;
    color: var(--primary);
    font-weight: bold;
}

.btnpg:hover{
    background: var(--primary) !important;
    color:var(--background) !important;
    border: none !important;
}


/* tabla */

.table{
    margin-top: 10px;
    background: var(--white);
    opacity: 0.8;
}